.viewport-box{
  width:100%;
  min-width:400px;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}

.main-circle{
  width: 400px;
  height: 400px;
  border: solid 2px #fffce1;
  border-radius: 50%;
}